<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944573203182-vnrui3i26mo6p6ls3d166k7nmhseelba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944573203182-vnrui3i26mo6p6ls3d166k7nmhseelba</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944573203182-pand8u9p5b8hin8cpukfpskvb69jrncu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFRRteyljOpLCVSTHHl83k2GQUbfpFlZI</string>
	<key>GCM_SENDER_ID</key>
	<string>944573203182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGalleryMarsellus</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-c3503</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-c3503.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944573203182:ios:6705567c02086944fca9ff</string>
</dict>
</plist>